:root{
  --color-bg1: rgba(228, 228, 228, 1);
  --color-bg2: rgba(53, 121, 244, 1);
  --color-bg3: rgba(24, 22, 45, 1);
  --color-bt: rgba(240, 240, 250, 1);
  --color-frlk: rgba(85, 145, 255, 1);
  --color-li: rgba(240, 240, 250, 1);
  --color-text2: white;
  --color-text1: black;
  --color-textbt: gray; 

  --inter-font: "Inter";
  --mulish-font: "Mulish";
  
  font-size: 62.5%;
  font-weight: 400;
  font-family: 'Inter', sans-serif; 
}

body{
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  min-width: 32rem;
}

header{
  min-width: 32rem;
}

h1{
  font-size: 3.8rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.66em;
}

h2{
  color: var(--color-bg2);
  font-family: 'Mulish', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.875em;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

.versionPc{
  display: none;
}

.h2-1{
  color: var(--color-text1);
  font-size: 3.4rem;
  line-height: 1.26;
  margin-bottom: 0.882em;
}

.h2-2{
  color: var(--color-text2);
  font-size: 3.4rem;
  line-height: 1.26;
  margin-top: 3em;
  margin-bottom: 0.59em;
}

hr{
  border: 0.3rem solid var(--color-bg2);
  border-bottom-width: 0;
  margin: 0;
}

.b01{
  display: block;
  font-weight: 700; 
  color: var(--color-textbt);
  background-color: var(--color-bt);
  border: 0;
  border-radius: 10px;
  padding: 1.25em 5.56em;
  height: 6rem;
  min-width: 320px;
  margin-top: 2.18em; 
}

li{
  list-style: none;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.25;
}

.li1{
  height: 9rem;
  flex-basis: 130 px;
}

.li2{
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  box-shadow: -4px 4px 16px rgb(0, 0, 0, 0.1);
  background: white;
  border-radius: 2rem;
  margin-bottom: 2rem;
  height: 10rem;
  flex-basis: 320px;
}

.li3{
  font-size: 1.8rem;
  margin-bottom: 1.66em;
}

.linav{
  margin-right: 42px;
  display: inline;
} 

a{
  text-decoration: none;
  color: var(--color-text1);
}

.a01{
  color: var(--color-text2);
}

.a02{
  position: relative;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.div1{
  background-color:var(--color-li);
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .divpart1{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
} */

.headerc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.2rem;
}

.headerbt{
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
} 

.headerbtd{
  text-align: right;
}

.headerleft{
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.headerm{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerpic1{
  width: 184px;
  height: 53px;
}

.form1{
  font-size: 1.6rem;
  font-weight: 400;
  /* display: flex; */
}

::placeholder {
  color: var(--color-text2);
}

.form1 input[type=text]{
  background-color: var(--color-frlk);
  /* display: block; */
  min-width: 32rem;
  min-height: 6rem;
  border: 0;
  border-radius: 1rem;
  padding-left: 1.81em;
  margin-bottom: 1.5rem;
}

.form1 input[type=checkbox]{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.viewcheckbox{
  position: absolute;
  top: 61.2rem; 
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.form1 textarea{
  background-color: var(--color-frlk);
  /* display: block;  */
  min-width: 32rem;
  min-height: 10rem;
  border: 0;
  border-radius: 1rem;
  padding-left: 1.81em;
  padding-top: 1.18em;
  margin-bottom: 2.5rem;
}

p{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 0.9375em;
}

.p01{
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 1.38em;
  color:var(--color-bg2);
}

.p02{
  font-size: 2.2rem;
  line-height: 1.09;
  margin-top: 0;
  align-self: flex-start;
  margin-bottom: 1.81em;
}

.p03{
  line-height: 1.25;
  margin-bottom: 2.18em;
}

.p04{
  font-family: 'Mulish', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.2rem;
}

.sec1Boatloading{
  display: flex;
}

.sec1pic{
  display: block;
  width: 51px;
  height: 51px;
}

.sec1pic1{
  /* margin-right: 0; */
}


.sec2div{
  display: flex;
  flex-direction: column;
}

.sec2div2{
  display: flex;
  flex-direction: column;
  margin-bottom: 3.95rem;
}

.sec2pic1{
  align-self: center;
  width: 320px;
  height: 120.28px;
}

.sec2pic2{
  align-self: center;
  width: 320px;
  height: 123.91px;
}

.sec2pic3{
  align-self: center;
  width: 320px;
  height: 99.4px;
}


.sec04{
  background-color: var(--color-bg2);
  color: var(--color-text2);
  border: 3px solid rgba(53, 121, 244, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

footer{
  background-color: var(--color-bg3);
  color: var(--color-text2);
  border: 3px solid rgba(24, 22, 45, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -35px;
}

.footerpic1{
  width: 235px;
  height: 67px;
}


.footerul2{

}

ul{
  margin: 0;
  padding: 0;
}

/* /////////////////////////////////////// */
 .navul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 85px;
} 

.ul1{
  display: flex;
  flex-wrap: wrap;
  gap: 46px 9.54px;
  width: 323px;
  margin-bottom: 9rem;
}

.ul2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem 2.5rem;
}

nav{
  display: none;
}


@media (min-width: 1000px){  /* Когда становиться шире*/

  .versionPc{
    display: block;
  }

  .versionMb{
    display: none;
  }

  /* HEADER */
  .headerleft{
    width: 60%;
  }

  .headerpic1{
    width: 256px;
    height: 73.44px;
  }

  /* SECTION 1 */
  .sec1pic{
    width: 70px;
    height: 70px;
  }

  .div1{
    padding: 1rem 3rem;
    height: 7rem;
    width: 7rem;
  }

  .ul1{
    gap: 46px 20px;
    width: 430px;
  }

  /* SECTION 2 */
  .sec2div2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3.95rem;
  }

  hr{
    flex-grow: 1;
    margin-left: 3rem;
  }

  .p02{
    margin-right: 4.7rem;
  }

  .sec2pic1{
    width: 705px;
    height: 265px;
  }
  
  .sec2pic2{
    width: 705px;
    height: 273px;
  }
  
  .sec2pic3{
    width: 705px;
    height: 219px;
  }

  /* FOOTER */
  .footerpic1{
    width: 272px;
    height: 77.55px;
  }

  .footerul1{
    text-align: left;
  }

}