:root{
  --color-bg1: rgba(228, 228, 228, 1);
  --color-bg2: rgba(53, 121, 244, 1);
  --color-bg3: rgba(24, 22, 45, 1);
  --color-bt: rgba(240, 240, 250, 1);
  --color-frlk: rgba(85, 145, 255, 1);
  --color-text2: white;
  --color-text1: black;
  --color-textbt: gray; 

  font-size: 62.5%;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

h2{
  font-size: 3.8rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  line-height: 1.1;
}

h3{
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
}

hr{
  height: 0px;
  border: 1px solid #3579F4;
}

.p01{
  font-size: 1.6rem;
  line-height: 24px;
}

.b01{
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-textbt);
  background-color: var(--color-bt);
}

li{
  list-style-type: none;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.25;
}

.a01{
  text-decoration: none;
  color: var(--color-text2);
}

.a02{
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.625;
  text-decoration: none;
  color: var(--color-text1);
}

.a03{
  text-decoration: none;
  color: var(--color-text1);
}

::placeholder {
  color: var(--color-text2);
}

input{
  background-color: var(--color-frlk);
}

textarea{
  background-color: var(--color-frlk);
}

.p02{
  font-size: 2.2rem;
  line-height: 1.09;
}

.p03{
  font-size: 1.8rem;
  line-height: 1.2;
}

.sec04{
  background-color: var(--color-bg2);
  color: var(--color-text2);
  border: 3px solid rgba(53, 121, 244, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

footer{
  background-color: var(--color-bg3);
  color: var(--color-text2);
  border: 3px solid rgba(24, 22, 45, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}