:root{
  --color-bg1: rgba(228, 228, 228, 1);
  --color-bg2: rgba(53, 121, 244, 1);
  --color-bg3: rgba(24, 22, 45, 1);
  --color-bt: rgba(240, 240, 250, 1);
  --color-frlk: rgba(85, 145, 255, 1);
  --color-li: rgba(240, 240, 250, 1);
  --color-text2: white;
  --color-text1: black;
  --color-textbt: gray; 

  --inter-font: "Inter";
  --mulish-font: "Mulish";
  
  font-size: 62.5%;
  font-weight: 400;
  font-family: 'Inter', sans-serif; 
}

section {
  overflow-x: hidden;
  min-width: 32rem;
}

html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

header{
  min-width: 32rem;
}

h1{
  font-size: 3.8rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.66em;
}

.h1-1{
  background-image: linear-gradient(to right, var(--color-bg3), var(--color-bg2) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  color: var(--color-bg2);
  font-family: 'Mulish', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.875em;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

.versionPc{
  display: none;
}

.h2-1{
  color: var(--color-text1);
  font-size: 3.4rem;
  line-height: 1.26;
  margin-bottom: 0.882em;
}

.h2-2{
  color: var(--color-text2);
  font-size: 3.4rem;
  line-height: 1.26;
  margin-top: 3em;
  margin-bottom: 0.59em;
}

hr{
  border: 0.3rem solid var(--color-bg2);
  border-bottom-width: 0;
  margin: 0;
}

.b01{
  display: block;
  font-size: 1.2rem;
  font-weight: 700; 
  color: var(--color-textbt);
  background-color: var(--color-bt);
  border: 0;
  border-radius: 10px;
  padding: 1.25em 5.56em;
  min-height: 6rem;
  /* min-width: 320px; */
  margin-top: 2.18em; 
}

li{
  list-style: none;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.25;
}

.li1{
  height: 9rem;
}

.li2{
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  box-shadow: -4px 4px 16px rgb(0, 0, 0, 0.1);
  background: white;
  border-radius: 2rem;
  margin-bottom: 2rem;
  height: 10rem;
  flex-basis: 320px;
}

.li3{
  font-size: 1.8rem;
  margin-bottom: 1.66em;
}

.linav{
  margin-right: 42px;
  display: inline;
} 

a{
  text-decoration: none;
  color: var(--color-text1);
}

.a01{
  color: var(--color-text2);
}

.a02{
  position: relative;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.div1{
  background-color:var(--color-li);
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.2rem;
  margin-top: 2.7rem;
}

.headerbt{
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
} 

.headerbtd{
  text-align: right;
}

.headerleft{
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.headerm{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerpic1{
  width: 184px;
  height: 53px;
}

.form1{
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  line-height: 167%;
  padding: 3.5rem;
  align-items: stretch;
  max-width: 62rem;
  margin: 0 auto;
  text-align: left;
}

label{
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

::placeholder {
  color: var(--color-text2);
}

.form1 input[type=text], input[type=date], 
input[type=email], input[type=password], input[type=tel]{
  background-color: var(--color-frlk);
  display: block; 
  /* min-width: 22rem; */
  min-height: 6rem;
  border: 0;
  border-radius: 1rem;
  padding: 0 1.81em;
  margin-bottom: 1.5rem; 
}

.form1 input[type=checkbox]{
  position: relative;
}

.form1 textarea{
  background-color: var(--color-frlk);
  /* min-width: 32rem; */
  min-height: 10rem;
  border: 0;
  border-radius: 1rem;
  padding-left: 1.81em;
  padding-top: 1.18em;
  margin-bottom: 2.5rem;
}

p{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 0.9375em;
}

.p01{
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 1.38em;
  color:var(--color-bg2);
}

.p02{
  font-size: 2.2rem;
  line-height: 1.09;
  margin-top: 0;
  align-self: flex-start;
  margin-bottom: 1.81em;
}

.p03{
  line-height: 1.25;
  margin-bottom: 2.18em;
}

.p04{
  font-family: 'Mulish', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.2rem;
}

.sec1pic{
  display: block;
  width: 51px;
  height: 51px;
}

.sec1pic1{
  display: block;
  margin-left: auto;
  margin-right: -1rem;
}

.sec2div{
  display: flex;
  flex-direction: column;
}

.sec2div2{
  display: flex;
  flex-direction: column;
  margin-bottom: 3.95rem;
}

.sec2pic1{
  align-self: center;
  margin: 0 16px;
  width: 320px;
  height: 120.28px;
}

.sec2pic2{
  align-self: center;
  margin: 0 16px;
  width: 320px;
  height: 123.91px;
}

.sec2pic3{
  align-self: center;
  margin: 0 16px;
  width: 320px;
  height: 99.4px;
}

.sec4{
  background-color: var(--color-bg2);
  color: var(--color-text2);
  border: 3px solid rgba(53, 121, 244, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 7rem;
}

.sec4p{
  margin: 0;
}

.sec4pic1{
  display: block;
  margin-left: auto;
  margin-right: -1rem;
}

footer{
  background-color: var(--color-bg3);
  color: var(--color-text2);
  border: 3px solid rgba(24, 22, 45, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 6rem;
  margin-top: -35px;
}

.footerpic1{
  margin-bottom: 6.4rem;
  width: 235px;
  height: 67px;
}

.footerul1{
  margin-bottom: 8.7rem;
}

.footerp{
  color: var(--color-textbt);
  margin-top: 11.2rem;
}

.footerdiv{
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul{
  margin: 0;
  padding: 0;
}

.secformdiv{
  margin-bottom: 4rem;
}

.formgender{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.formp{
  font-size: 23px;
  margin: 0 auto;
}

.formp2{
  font-size: 23px;
  color: var(--color-bg2);
  margin: 0 auto;
}

.formimg{
  display: block;
  margin-left: auto;
  width: 378.57px;
  height: 240.4px;
}

.labelgn{
  flex-direction: row;
  margin-top: 3px;
}

/* /////////////////////////////////////// */
 .navul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 85px;
} 

.ul1{
  display: flex;
  flex-wrap: wrap;
  gap: 46px 9.54px;
  width: 323px;
  margin-bottom: 9rem;
}

.ul2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem 2.5rem;
}

nav{
  display: none;
}

::selection{
  color: var(--color-bg2);;
  text-shadow: 1px 0 1px var(--color-bg3), 0 1px 1px var(--color-bg3);
}

.b01,.headersocial,.li2{
  transition: 0.5s;
}

.b01:hover {
  transform: scale(1.1);
}

.b01:active{
  transform: scale(0.9);
}

.b01:focus{
  box-shadow: -12px 12px 32px rgb(0, 0, 0, 1);
}

.headersocial:active{
  transform: scale(0.9);
}

.headersocial:hover{
  transform: scale(1.1);
}

.li2:active{
  box-shadow: inset -6px 6px 18px rgb(0, 0, 0, 0.2);
}

a:hover{
  text-decoration: underline;
}

a:focus{
  color: var(--color-bg2);
}



@media (min-width: 800px){

  .versionPc{
    display: block;
  }

  .sec1pic1, .headernav, .headersocial, .sec4pic2, .formp3{ 
    display: none;
  }

  .sec1Boatloading{
    display: flex;
    align-items: center;
  }

  .sec1pic2{
    width: 374px;
    height: 336.44px;
  }

  /* SECTION 2 */
  .sec2pic1{
    width: 480px;
    height: 180.42px;
  }

  .sec2pic2{
    width: 480px;
    height: 180.42px;
  }
  
  .sec2pic3{
    width: 480px;
    height: 149.1px;
  }

  .sec1Form{
    display: flex;
  }

  .formp, .formp2{
    font-size: 2.7rem;
  }

  .formimg{
    width: 530px;
    height: 336.6px;
  }
}

@media (min-width: 1200px){  /* Когда становиться шире*/

  .versionPc{
    display: block;
  }

  .versionMb{
    display: none;
  }

  /* HEADER */
  .headerleft{
    width: 60%;
    margin-top: 2.7rem;
  }

  .headerpic1{
    width: 256px;
    height: 73.44px;
  }

  .sec1Boatloading{
    display: flex;
  }

  .sec1Form{
    display: flex;
  }

  /* SECTION 1 */
  .sec1pic{
    width: 70px;
    height: 70px;
  }
  
  .sec1pic2{
    width: 685px;
    height: 534px;
  }

  .div1{
    padding: 1rem 3rem;
    height: 7rem;
    width: 7rem;
  }

  .ul1{
    gap: 46px 20px;
    width: 430px;
  }

  /* SECTION 2 */
  .sec2div2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3.95rem;
  }

  hr{
    flex-grow: 1;
    margin-left: 3rem;
  }

  .p02{
    margin-right: 4.7rem;
  }

  .sec2pic1{
    width: 705px;
    height: 265px;
  }
  
  .sec2pic2{
    width: 705px;
    height: 273px;
  }
  
  .sec2pic3{
    width: 705px;
    height: 219px;
  }

  /* SECTION 4 */
  .sec4pic2{
    display: block;
    align-self: center;
  }

  /* FOOTER */
  .footerpic1{
    width: 272px;
    height: 77.55px;
  }

  .footerdiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }

  .li3{
    text-align: left;
  }

  .footerpic1{
    margin: 0;
  }
  .footerul1{
    margin: 0;
  }
  
  .formp, .formp2{
    font-size: 3.8rem;
  }

  .formp3{
    display: block;
  }

  .formimg{
    width: 530px;
    height: 336.6px;
  }

}

@media (max-width: 400px){
  .formimg{
    display: none;
  }
}